@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri.woff2") format("woff2"), url("../fonts/Calibri.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-Light.woff2") format("woff2"), url("../fonts/Calibri-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-Bold.woff2") format("woff2"), url("../fonts/Calibri-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

* {
  margin: 0;
  padding: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-kerning: auto;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-smooth: always; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, figure {
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

body a img, img {
  border: none; }
  body a img:hover, img:hover {
    border: none;
    text-decoration: none; }

img {
  width: 100%;
  max-width: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.textCenter {
  text-align: center; }

html {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  overflow-x: hidden;
  font-weight: 400; }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 9px; } }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 8px; } }
  @media only screen and (max-width: 480px) {
    html {
      font-size: 6px; } }

.wrap {
  width: 1350px;
  max-width: 96%;
  margin: 0 auto;
  position: relative; }

p {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.1875;
  margin-bottom: 1.1875em; }

::-moz-selection {
  background-color: #004a5a !important;
  color: #ebecec; }

::selection {
  background-color: #004a5a !important;
  color: #ebecec; }

html body a, a:after, a:before,
button, button:after, button:before,
input[type=submit] {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

a:hover {
  text-decoration: none; }

.currentLink {
  cursor: default; }

abbr[title] {
  border-bottom: 1px dotted; }

blockquote {
  margin: 10px 20px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: normal; }

.alignCenter {
  text-align: center; }

.alignRight {
  text-align: right; }

.alignLeft {
  text-align: left; }

.textHide {
  font: 0/0; }

figure.anim {
  position: relative;
  overflow: hidden; }
  figure.anim img {
    opacity: 0;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: none;
    transition: none; }
  figure.anim.active img {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
    -ms-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 15s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 15s cubic-bezier(0.19, 1, 0.22, 1); }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none; }

dd {
  margin: 0; }

.section_heading {
  color: #404041;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 4;
  letter-spacing: -0.05rem; }

.datepicker-days {
  font-size: 1.2rem; }

.form-control:focus {
  border-color: #f8c1c2;
  box-shadow: none; }

.header_section {
  border-bottom: 1px solid #ffe0e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 5rem; }
  .header_section .hd_logo {
    width: 19.9rem; }
  .header_section .link_section li {
    display: inline-block; }
    .header_section .link_section li:not(:first-child) {
      margin-left: 6.2rem; }
    .header_section .link_section li a {
      font-family: "Poppins", sans-serif;
      color: #404041;
      font-size: 1.7rem; }
      .header_section .link_section li a:hover {
        color: #9d0917; }

.footer {
  background-color: #9d0917;
  padding: 10rem 1rem 10.9rem; }
  @media only screen and (max-width: 480px) {
    .footer {
      padding: 10rem 60px; } }
  .footer .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; }
  .footer .quick_contact {
    width: 15.0520833333vw; }
    @media only screen and (max-width: 1024px) {
      .footer .quick_contact {
        width: 200px; } }
    @media only screen and (max-width: 480px) {
      .footer .quick_contact {
        width: 100%;
        text-align: center; } }
    .footer .quick_contact h3, .footer .quick_contact p, .footer .quick_contact span, .footer .quick_contact a {
      color: #fff;
      font-family: "Poppins", sans-serif; }
    .footer .quick_contact p {
      font-size: 1.6rem;
      margin-bottom: 2.7rem; }
    .footer .quick_contact .cn_detail span {
      display: block; }
    .footer .quick_contact span, .footer .quick_contact a {
      font-size: 1.8rem;
      letter-spacing: 0.04rem;
      line-height: 2.81; }
    .footer .quick_contact a:hover {
      color: #ec797e; }
  @media only screen and (max-width: 480px) {
    .footer .site_links {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      padding: 10px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); } }
  .footer .site_links a {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.12rem;
    line-height: 1.75; }
    .footer .site_links a:hover {
      color: #ec797e; }
  .footer .subscribe {
    width: 21.7708333333vw; }
    @media only screen and (max-width: 1024px) {
      .footer .subscribe {
        width: 300px; } }
    @media only screen and (max-width: 480px) {
      .footer .subscribe {
        width: 100%;
        text-align: center; } }
    .footer .subscribe input[type=email] {
      color: #ffffff;
      font-family: "Poppins", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      border-radius: 0.5rem;
      border: 0.1rem solid #ea2830;
      background-color: transparent;
      padding: 1.4rem 2.5rem;
      display: block;
      width: 100%; }
    .footer .subscribe ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: white; }
    .footer .subscribe input[type=submit] {
      margin-top: 5rem;
      color: #ffffff;
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2;
      letter-spacing: 0.04rem;
      padding: 1.2rem 2.8rem;
      background-color: #ea2830;
      border-radius: 7px;
      border: 0; }

.ft_head {
  font-size: 2.2rem;
  color: #fff;
  letter-spacing: 0.04rem;
  line-height: 1.5;
  margin-bottom: 2.5rem; }

.ft_end_sec {
  background-color: #fff;
  padding: 2.4rem 0; }
  .ft_end_sec p {
    margin-bottom: 0; }
  .ft_end_sec .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .ft_end_sec .follow_links ul {
    display: flex;
    align-items: center; }
    .ft_end_sec .follow_links ul li {
      margin-left: 2.8rem; }
      .ft_end_sec .follow_links ul li p {
        color: #404042;
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 3.21;
        letter-spacing: 0.035rem; }
      .ft_end_sec .follow_links ul li a {
        color: #404042;
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 3.21;
        padding: 1px 3px; }

.pf_section_1 {
  margin: 5rem 0 3rem; }
  .pf_section_1 .car_process {
    width: 100%; }
  .pf_section_1 p {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.14;
    text-align: center; }

.sec_left {
  background-color: #9d0917;
  padding: 0 1rem; }

.profile_img_block {
  padding: 5.4rem 0;
  text-align: center; }
  .profile_img_block .pf_img_box {
    padding: .8rem;
    border-radius: 50%;
    border: 2px dashed #fff;
    width: 15rem;
    height: 15rem;
    margin: 0 auto 2rem; }
    .profile_img_block .pf_img_box .main_img {
      width: 100%;
      height: 100%;
      background: url(../img/pf-img.png) center/cover no-repeat;
      margin: 0 auto;
      border-radius: 50%; }
  .profile_img_block span {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.02rem;
    line-height: 1.25;
    display: block; }

.form_main_tabs {
  padding-bottom: 1px; }
  .form_main_tabs li {
    width: 100%;
    margin: 1rem 0; }
    .form_main_tabs li a {
      color: #9d0917;
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.75;
      border-radius: 0.5rem;
      background-color: #ffe0e1;
      display: block;
      padding: 1.4rem 2rem; }
      .form_main_tabs li a:hover, .form_main_tabs li a:active {
        color: #ffffff;
        background-color: #e9292f; }

.tab_section {
  margin-left: 4%; }

.tabs {
  border-bottom: 1px solid #ffe0e1;
  margin-left: 4%; }
  .tabs li {
    display: inline-block; }
    .tabs li:not(:last-child) {
      margin-right: 2.5rem; }
    .tabs li .active {
      color: #9d0917;
      border-bottom: 3px solid #9d0917; }
    .tabs li a {
      color: #f8c1c2;
      font-family: "Poppins", sans-serif;
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 1.65;
      padding-bottom: 1.9rem;
      display: inline-block; }
      .tabs li a:hover {
        color: #9d0917; }

.tabgroup .input_title {
  color: #9d0917;
  font-family: "Calibri";
  font-size: 1.6rem;
  line-height: 1.88;
  text-transform: uppercase;
  letter-spacing: 0.079rem;
  margin-top: 5rem;
  font-weight: bold;
  width: 100%; }
.tabgroup input {
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.88;
  letter-spacing: 0.08rem;
  border-radius: 0.5rem;
  border: 1px solid #ffe0e1;
  padding: 1.2rem 1.9rem;
  display: block;
  width: 100%; }
.tabgroup input[type="radio"] {
  display: none; }
.tabgroup .button-group-pills {
  border: 1px solid #f8c1c2;
  border-radius: 5px;
  display: flex;
  align-items: center; }
  .tabgroup .button-group-pills .btn {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.08rem;
    border-color: #f8c1c2;
    background-color: transparent;
    color: #222222;
    cursor: pointer;
    border: 0;
    flex: 1;
    margin-bottom: 0;
    padding: 1.5rem 0rem; }
    .tabgroup .button-group-pills .btn.active {
      border-color: #f8c1c2;
      background-color: #ffe0e1;
      color: #9d0917;
      box-shadow: none; }
    .tabgroup .button-group-pills .btn:hover {
      border-color: #f8c1c2;
      background-color: #ffe0e1;
      color: #9d0917; }
  .tabgroup .button-group-pills .btn_capital {
    border-left: 1px solid #f8c1c2;
    border-right: 1px solid #f8c1c2;
    border-radius: 0; }

.db_age_block {
  display: flex;
  justify-content: space-between; }
  .db_age_block .date_ob_w {
    width: 28rem; }
    @media only screen and (max-width: 1338px) {
      .db_age_block .date_ob_w {
        width: 60%; } }
    @media only screen and (max-width: 1244px) {
      .db_age_block .date_ob_w {
        width: 55%; } }
    .db_age_block .date_ob_w input {
      width: 100%; }
  .db_age_block .age_w {
    width: 24rem; }
    .db_age_block .age_w input, .db_age_block .age_w .age_span {
      color: #222222;
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.88;
      letter-spacing: 0.08rem;
      border-radius: 0.5rem;
      border: 1px solid #ffe0e1;
      padding: 1.2rem 1.9rem;
      display: block;
      width: 100%;
      outline: none; }

.phone_block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap; }
  .phone_block .date_ob_w {
    width: 28rem; }
    @media only screen and (max-width: 1338px) {
      .phone_block .date_ob_w {
        width: 60%; } }
    @media only screen and (max-width: 1244px) {
      .phone_block .date_ob_w {
        width: 55%; } }
  .phone_block .verify_btn {
    color: #9d0917;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.88;
    letter-spacing: 0.08rem;
    display: inline-block;
    padding: 1.2rem 3.9rem;
    border-radius: 0.5rem;
    border: 1px solid #ffe0e1;
    background-color: #ffe0e1; }

.row .next_btn {
  color: #9d0917;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.04rem;
  border-radius: 0.7rem;
  background-color: #ea2830;
  padding: 1.3rem 1.9rem;
  width: 11rem;
  margin-left: 15px;
  margin-top: 5rem; }

.profile_information {
  margin: 14rem 0 9rem; }
  .profile_information p {
    color: #777777;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: -0.015rem;
    text-align: justify; }

.parent_tab .active {
  color: #ffffff;
  background-color: #e9292f; }

#datepicker {
  width: 28rem; }
  #datepicker input {
    height: 5.6rem;
    border-radius: 0.5rem;
    outline: none; }

input:focus {
  border-color: #9d0917; }

.tab_list {
  position: relative; }
  .tab_list .toggle_sub {
    position: absolute;
    top: 20px;
    right: 1rem;
    font-size: 12px; }

.sub_tabs {
  display: none; }
  .sub_tabs li {
    padding-left: 1rem;
    margin: .5rem 0; }
    .sub_tabs li a {
      color: #fff;
      font-size: 1.3rem;
      padding: 1rem;
      background-color: rgba(255, 224, 225, 0.3);
      border-radius: 3px; }

.otp_box {
  width: 100%;
  display: none; }
  .otp_box .otp_label {
    display: block; }
  .otp_box input {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    padding: 0;
    margin-right: 1rem;
    text-align: center; }

.flex_div {
  display: flex;
  justify-content: space-between; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], input[disabled] {
  cursor: default; }

button {
  background: transparent;
  border: none;
  outline: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input, button, input:focus, button:focus {
  transition: all .3s ease-out;
  outline: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
@-webkit-keyframes a {
  0% {
    stroke-dashoffset: 194; }
  80% {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 0; } }
@keyframes a {
  0% {
    stroke-dashoffset: 194; }
  80% {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 0; } }

/*# sourceMappingURL=style.css.map */
