//Fonts
$poppins: 'Poppins', sans-serif;
$open: 'Open Sans', sans-serif;
$calibri: 'Calibri';

//COLORS
$headColor:#404041;
$paraColor:#777777;
$inputColor:#222222;
$pink1: #f8c1c2;
$Red1: #9d0917;
$lightRedBtn: #ffe0e1;

// UTILITIES
$borderPink: 1px solid $pink1;


.section_heading {
	color: $headColor;
	font-family: $poppins;
	font-size: 2rem;
	font-weight: 500;
	line-height: 4;
	letter-spacing: -0.05rem;
}

.datepicker-days {
	font-size: 1.2rem;
}



.form-control:focus {
	border-color: $pink1;
	box-shadow: none;
}

