.footer {
	background-color: $Red1;
	padding: 10rem 1rem 10.9rem;
	@include MQ(S) {
		padding: 10rem 60px;
	}
	.wrap {
		display: flex;
	    justify-content: space-between;
	    align-items: flex-start;
	    flex-wrap:wrap;
	}
	.quick_contact {
		width: vw(289px);
		@include MQ(L) {
			width: 200px;
		}
		@include MQ(S) {
			width: 100%;
			text-align: center;
		}
		h3, p, span, a {
			color: #fff;
			font-family: $poppins;
		}
		p {
			font-size: 1.6rem;
			margin-bottom: 2.7rem;
		}
		.cn_detail{
			span {
				display: block;
			}
		}
		span, a {
			font-size: 1.8rem;
			letter-spacing: 0.04rem;
			line-height: 2.81;
		}
		a:hover{
			color: #ec797e;
		}
	}
	.site_links {
		@include MQ(S) {
			width: 100%;
			text-align: center;
			margin: 10px 0;
			padding: 10px 0;
			border-top: 1px solid rgba(#fff,.2);
			border-bottom: 1px solid rgba(#fff,.2);
		}
		a{
			color: #ffffff;
			font-family: $poppins;
			font-size: 1.6rem;
			font-weight: 400;
			letter-spacing: 0.12rem;
			line-height: 1.75;
			&:hover {
				color: #ec797e;
			}
		}
	}
	.subscribe {
		width: vw(418px);
		@include MQ(L) {
			width: 300px;
		}
		@include MQ(S) {
			width: 100%;
			text-align: center;
		}
		input[type=email] {
			color: #ffffff;
			font-family: $poppins;
			font-size: 1.8rem;
			font-weight: 400;
			border-radius: 0.5rem;
			border: 0.1rem solid #ea2830;
			background-color: transparent;
			padding: 1.4rem 2.5rem;
			display: block;
			width: 100%;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: white;
		}
		input[type=submit] {
			margin-top: 5rem;
			color: #ffffff;
			font-family: $poppins;
			font-size: 1.6rem;
			font-weight: 300;
			line-height: 2;
			letter-spacing: 0.04rem;
			padding: 1.2rem 2.8rem;
			background-color: #ea2830;
			border-radius: 7px;
			border: 0;
		}
	}
}

.ft_head {
	font-size: 2.2rem;
	color: #fff;
	letter-spacing: 0.04rem;
	line-height: 1.5;
	margin-bottom: 2.5rem;
}

.ft_end_sec {
	background-color: #fff;
	padding: 2.4rem 0;
	p {
		margin-bottom: 0;
	}
	.wrap {
		display: flex;
		align-items:center;
		justify-content:space-between;
	}
	.follow_links {
		ul{
			display: flex;
			align-items:center;
			li {
				margin-left: 2.8rem;
				p {
					color: #404042;
					font-family: $poppins;
					font-size: 1.4rem;
					font-weight: 400;
					line-height: 3.21;
					letter-spacing: 0.035rem;
				}
				a {
					color: #404042;
					font-family: $poppins;
					font-size: 1.4rem;
					font-weight: 400;
					line-height: 3.21;
					padding: 1px 3px;
				}
			}
		}
	}
}