.header_section {
	border-bottom: 1px solid $lightRedBtn;
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding: 1.4rem 5rem;
	.hd_logo {
		width: 19.9rem;
	}
	.link_section {
		li {
			display: inline-block;
			&:not(:first-child) {
				margin-left: 6.2rem;
			}
			a {
				font-family: $poppins;
				color: $headColor;
				font-size: 1.7rem;
				&:hover {
					color: $Red1;
				}
			}
		}
	}
}	