.pf_section_1 {
	margin: 5rem 0 3rem;
	.car_process {
		width: 100%;
	}
	p {
		color: $paraColor;
		font-family: $poppins;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 2.14;
		text-align: center;
	}
}

.sec_left {
	background-color: $Red1;
	padding: 0 1rem;
}
.profile_img_block {
	padding: 5.4rem 0;
	text-align: center;
	.pf_img_box {
		padding: .8rem;
		border-radius: 50%;
		border: 2px dashed #fff;
		width: 15rem;
		height: 15rem;
		margin: 0 auto 2rem;
		.main_img	{
			width: 100%;
    		height: 100%;
			background: url(../img/pf-img.png) center / cover no-repeat;
			margin: 0 auto;
			border-radius: 50%;
		}
	}
	span {
		color: #ffffff;
		font-family: $poppins;
		font-size: 1.8rem;
		font-weight: 500;
		letter-spacing: -0.02rem;
		line-height: 1.25;
		display: block;
	}
}
.form_main_tabs {
	padding-bottom: 1px;
	li{
		width: 100%;
		margin: 1rem 0;
		a {
			color: $Red1;
			font-family: $poppins;
			font-size: 1.6rem;
			font-weight: 500;
			line-height: 1.75;
			border-radius: 0.5rem;
			background-color: $lightRedBtn;
			display: block;
			padding: 1.4rem 2rem;
			&:hover, &:active {
				color: #ffffff;
				background-color: #e9292f;
			}
		}
	}
}

.tab_section {
	margin-left: 4%;
}
.tabs {
	border-bottom: 1px solid $lightRedBtn;
	margin-left: 4%;
	li {
		display: inline-block;
		&:not(:last-child) {
			margin-right: 2.5rem;
		}
		.active {
			color: $Red1;
			border-bottom: 3px solid $Red1;
		}
		a {
			color: $pink1;
			font-family: $poppins;
			font-size: 1.7rem;
			font-weight: 500;
			line-height: 1.65;
			padding-bottom: 1.9rem;
			display: inline-block;
			&:hover {
				color: $Red1;
			}
		}
	}
}
.tabgroup {
	.input_title {
		color: $Red1;
		font-family: $calibri;
		font-size: 1.6rem;
		line-height: 1.88;
		text-transform: uppercase;
		letter-spacing: 0.079rem;
		margin-top: 5rem;
		font-weight: bold;
		width: 100%;
	}
	input {
		color: $inputColor;
		font-family: $poppins;
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 1.88;
		letter-spacing: 0.08rem;
		border-radius: 0.5rem;
		border: 1px solid $lightRedBtn;
		padding: 1.2rem 1.9rem;
		display: block;
		width: 100%;
	}
	input[type="radio"] {
		display: none;
	}
	.button-group-pills {
		border: 1px solid $pink1;
	    border-radius: 5px;
	    display: flex;
	    align-items:center;

		.btn {
			font-size: 1.6rem;
			font-family: $poppins;
			letter-spacing: 0.08rem;
			border-color: $pink1;
			background-color: transparent;
			color: $inputColor;
			cursor: pointer;
			border: 0;
			flex:1;
			margin-bottom: 0;
			padding: 1.5rem 0rem;
			// border-bottom-right-radius: 0;
			// border-top-right-radius: 0;
	    
	    &.active {
			border-color: $pink1;
			background-color: $lightRedBtn;
			color: $Red1;

			box-shadow: none;
	    }

	    &:hover {
       		border-color: $pink1;
      		background-color: $lightRedBtn;
      		color: $Red1;
	    }
	    
	  }
	  .btn_capital {
	  	border-left: 1px solid $pink1;
	  	border-right: 1px solid $pink1;
	  	border-radius: 0;
	  }
	}
}
.db_age_block {
	display: flex;
	justify-content:space-between;

	.date_ob_w {
		width: 28rem;
		@include MQ(1338px) {
			width: 60%;
		}
		@include MQ(1244px) {
			width: 55%;
		}
		input {
			width: 100%;
		}
	}
	.age_w {
		width: 24rem;
		input, .age_span {
			color: $inputColor;
			font-family: $poppins;
			font-size: 1.6rem;
			font-weight: 300;
			line-height: 1.88;
			letter-spacing: 0.08rem;
			border-radius: 0.5rem;
			border: 1px solid $lightRedBtn;
			padding: 1.2rem 1.9rem;
			display: block;
			width: 100%;
			outline: none;
		}
	}
}
.phone_block {
	display: flex;
	justify-content:space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	.date_ob_w {
		width: 28rem;
		@include MQ(1338px) {
			width: 60%;
		}
		@include MQ(1244px) {
			width: 55%;
		}
	}
	.verify_btn {
		color: $Red1;
		font-family: $poppins;
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 1.88;
		letter-spacing: 0.08rem;
		display: inline-block;
		padding: 1.2rem 3.9rem;

		border-radius: 0.5rem;
		border: 1px solid $lightRedBtn;
		background-color: $lightRedBtn;
	}
}

.row .next_btn {
	color: $Red1;
	font-family: $poppins;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 2;
	letter-spacing: 0.04rem;

	border-radius: 0.7rem;
	background-color: #ea2830;
	padding: 1.3rem 1.9rem;
	width: 11rem;
	margin-left: 15px;
	margin-top: 5rem;
}

.profile_information {
	margin: 14rem 0 9rem;
	p {
		color: $paraColor;
		font-family: $open;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 1.67;
		letter-spacing: -0.015rem;
		text-align: justify;
	}
}

.parent_tab {
	.active {
		color: #ffffff;
		background-color: #e9292f;
	}
}
#datepicker {
		width: 28rem;
	input {
		height: 5.6rem;
		border-radius: 0.5rem;
		outline: none;
	}
}


input:focus {
	border-color: $Red1;
}

.tab_list {
	position: relative;
	.toggle_sub {
		position: absolute;
		top: 20px;
	    right: 1rem;
	    font-size: 12px;
	}
}

.sub_tabs {
	display: none;
	li {
		padding-left: 1rem;
		margin: .5rem 0;
		a{
			color: #fff;
			font-size: 1.3rem;
		    padding: 1rem;
		    background-color: rgba(#ffe0e1, .3);
		    border-radius: 3px;

		}
	}
}

.otp_box {
	width: 100%;
	display: none;
	.otp_label {
		display: block;
	}
	input {
		width: 5rem;
	    height: 5rem;
	    display: inline-block;
	    padding: 0;
	    margin-right: 1rem;
	    text-align: center;
	}
}
.flex_div {
	display: flex;
	justify-content: space-between;
}