<footer id="footer">
	<div class="footer">
		<div class="wrap">
			<div class="quick_contact">
				<h3 class="ft_head">Quick contact info </h3>
				<p>Lorem ipsum dolor sit amet ut, consectetu adipisicing el it, sed do eiusmod tempor minim.</p>
				<div class="cn_detail">
					<span>184 Main Street VictoriZ </span>
					<span><a href="mailto:roadhow@123.com">roadhow@123.com</a></span>
					<span><a href="tel:+1234567890">+(123) 456 -7890</a></span>
				</div>
			</div>
			<div class="site_links">
				<h3 class="ft_head">Quick contact info </h3>
				<ul>
					<li> <a href="#">Home</a> </li>
					<li> <a href="#">About RoadHow</a> </li>
					<li> <a href="#">Courses</a> </li>
					<li> <a href="#">Contact</a> </li>
					<li> <a href="#">Login</a> </li>
					<li> <a href="#">Support</a> </li>
					<li> <a href="#">Ts&Cs</a> </li>
					<li> <a href="#">Privacy Policy</a> </li>
				</ul>
			</div>
			<div class="subscribe">
				<h3 class="ft_head">Subscribe to our Newsletter:</h3>
				<input type="email" placeholder="Your E-Mail" class="email_input">
				<input type="submit" value="Submit"> 
			</div>
		</div>
	</div>
	<div class="ft_end_sec">
		<div class="wrap">
			<div class="ft_logo">
				<a href="#"><img src="img/logo.png" alt=""></a>
			</div>
			<p>© Copyrights 2019 RoadHow</p>
			<div class="follow_links">
				<ul>
					<li> <p>Follow Us:</p> </li>
					<li><a href="#">twt</a></li>
					<li><a href="#">facebook</a></li>
					<li><a href="#">youtube</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
 

