<header id="header">
	<div class="header_section">
		<div class="hd_logo">
			<a href="#"><img src="img/logo.png" alt=""></a>
		</div>	
		<div class="link_section">
			<ul class="link_block">
				<li class="link_list"><a href="#" class="link">Home</a></li>
				<li class="link_list"><a href="#" class="link">About RoadHow</a></li>
				<li class="link_list"><a href="#" class="link">Cources</a></li>
				<li class="link_list"><a href="#" class="link">Contact</a></li>
				<li class="link_list"><a href="#" class="link">Login</a></li>
				<li class="link_list"><a href="#" class="link">Support</a></li>
				<!-- <li class="search_btn">
					<label for="search-field"></label>
					<input type="text" name="search-field">
				</li> -->
			</ul>
		</div>	
	</div>
</header>
